black
ruff
mypy
pytest
langchain-core
langchain-community
chromadb
unstructured
pdfminer.six==20221105
pi-heif
unstructured-inference
tqdm
pdf2image
unstructured-pytesseract
jq
smolagents
langchain-openai
python-pptx==1.0.2
