black
ruff
mypy
pytest
responses
langchain-core
langchain-community
chromadb
unstructured
pdfminer.six==20221105
pi-heif
unstructured-inference
tqdm
pdf2image
unstructured-pytesseract
jq
smolagents
requests
langchain-openai
types-requests
